{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {% if option.name == 'Color' and product.metafields.product_information.product_color_collection != blank %}
        <div class="color-swatches">
          <div class="color-swatches__header">
            <strong>Color: </strong><span>{{ option.selected_value }}</span>
          </div>
          <div class="color-swatches__content">
            {% for color_product in product.metafields.product_information.product_color_collection.value.products %}
              <a class="color-swatches__item {% if color_product == product %}active{% endif %}" href="{% if color_product == product %}javascript:;{% else %}{{ color_product.url }}{% endif %}">
                {{ 
                  color_product.featured_media
                  | image_url: width: 100
                  | image_tag:
                    loading: 'lazy',
                    sizes: '(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, 49vw',
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    alt: color_product.title
                 }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch{% if option.name == 'Color' %} hidden{% endif %}">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill{% if option.name == 'Color' %} hidden{% endif %}">
        <legend class="form__label">{{ option.name }}:</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown{% if option.name == 'Color' %} hidden{% endif %}">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
{% if product.metafields.product_information.sizing_information != blank %}
    <div class="product__text inline-richtext caption">
      {{ product.metafields.product_information.sizing_information }}
    </div>
{% endif %}